{% extends 'layout/default.html' %}

{% block content %}
<div class=" container">
    <div class="row">
        <div class="col-lg-7 border rounded-2 bg-light mx-auto mt-3 px-4 py-5">
            <h1 class="display-3">Анализатор страниц</h1>
            <p class="lead">Бесплатно проверяйте сайты на SEO-пригодность</p>
            <form action="{{ url_for('check_url')}}" method="post" class="d-flex justify-content-center">
                {{ form.hidden_tag() }}
                {{ form.url.label(class="form-label") }}
                {{ form.url(class="form-control", type="url", placeholder="https://example.com") }}
                {{ form.check(class="btn btn-primary ps-4 m-1 btn-lg") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

